/* HTML CSS Result Skip Results Iframe */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #000;
  color: #ffffff;
}

.container {
  margin: auto;
  padding: 20px;
  width: 300px;
 height: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container {
  font-size: 20px;
  margin-bottom: 20px;
 
}
input{
    border: 2px solid rgb(152, 146, 146);
    width: 90%;
    padding: 10px;
    border: inset 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    outline: none;

}

.button-container{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button{
    padding: 5px;
    margin: 2px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
button:hover{
    background: #cbcaca;
    cursor: pointer;
}
